<nav>
  <h1>Hi.</h1>
  <a href="/">
    <img src="/logo.png" id="logo" alt="Blog logo"/>
  </a>
  <h2>I'm <a href="/">{{ site.theme.name }}</a>.</h2>
  <hr/>
  <ul>
  <p>GM of a Web Developer</p>
  <p>RoR crazy lover.</p>
  <hr/>
  <a style="text-align: center;" href="https://play.google.com/store/apps/details?id=com.cabargas.blog">
    <img alt="Get it on Google Play"
         src="http://cabargas.com/images/logoplay.png" />
  </a>
  <hr/>
  <div>
    <div id="social">
      {% include social.html %}
    </div>
  </div>
  </ul>
</nav>