---
---
{% include css/base.css %}
{% include css/skeleton.css %}
{% include css/screen.css %}
{% include css/layout.css %}
{% include css/syntax.css %}

#post > p > a > img{
  width: 100%;
  height: auto;
  margin: auto;
}

#home > p > a > img{
  display: none;
}

#home > em > p > a > img{
  display: none;
}

a.next, a.previous{
  background: #3498db;
  padding: 5px;
  color: whiteSmoke;
  border-radius: 2px;
}

.pagination{
  margin-bottom: 30px;
}

pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
  margin-bottom: 20px !important;
}

h1.title{
  color: #3498db;
}